.guestbg {
 -fx-background-image: url('screen_6.jpg');
 -fx-background-size: 100% 100%;
}

.loginbg {
 -fx-background-image: url('screen_1.jpg');
 -fx-background-size: 100% 100%;
}

.patientbg {
 -fx-background-image: url('screen_2.png');
 -fx-background-size: 100% 100%;
}

.refresh {
 -fx-background-image: url('refresh.png');
 -fx-background-size: 100% 100%;
}